body {
    margin: 0;
    padding: 20px;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Britannic Bold', Arial, sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.otro{

    background-color: lightblue; /* Color de fondo */
    border: 2px solid blue; /* Borde opcional */
    padding: 0;          /* Espaciado interno */
    text-align: center;     /* Alinear texto al centro */
}

.contenedor{
    display: flex;
}

.frase{
    height: 400px;
    width: 50%;
    padding: 10px;          /* Espaciado interno */
    background-color: #fffdef; /* Color de fondo */
    margin-top: 20px;
    text-align: center;
}

.imagen{
    height: 400px;
    width: 50%;
    margin-top: 30px;
    margin-right: 60px;
    background-image: linear-gradient(to right, rgba(170, 170, 170, 0.5), rgba(170, 170, 170, 0)), url(../images/voluntariado.jpg);
    background-position: center;
    background-size: cover;  
}
.cartero{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 1200px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
#montaña{
    height: 45%;
    width: 45%;
    border-radius: 40px; 

    background-image: url(../images/c_montañas.jpg);
    background-position: center;
    background-size: cover;


    transition: 0.2s;
    object-fit: cover;

    margin: 0;
}

#montaña:hover{
    transform: scale(1.1);
    background-image: none;
    background-color: #8eaa46;
}
.oculto{
    height: 95%;
    width: 95%;
    padding: 20px 5% 5px 5%;

    text-align: center;

    margin: 0;
    opacity: 0;

    overflow: hidden;
}
.oculto:hover{
    opacity: 0.7;
}


#arboles{
    height: 45%;
    width: 45%;
    padding: 5px;
    border-radius: 40px; 

    background-image: url(../images/c_plantar.jpg);
    background-position: center;
    background-size: cover;

    transition: 0.2s;
    object-fit: cover;

    border: 2px solid #ccc; /* Borde opcional */  
}

#arboles:hover{
    transform: scale(1.1);
    background-image: none;
    background-color: #8eaa46;
}

#con{
   
    height: 45%;
    width: 45%;
    
    padding: 5px;
    border-radius: 40px; 

    background-image: url(../images/c_con.jpg);
    background-position: center;
    background-size: cover;

    transition: 0.2s;
    object-fit: cover;

    border: 2px solid #ccc; /* Borde opcional */   
}

#con:hover{
    transform: scale(1.1);
    background-image: none;
    background-color: #8eaa46;
}

#rio{
    height: 45%;
    width: 45%;
    padding: 5px;
    border-radius: 40px; 

    background-image: url(../images/c_rios.jpg);
    background-position: center;
    background-size: cover;

    transition: 0.2s;
    object-fit: cover;

    border: 2px solid #ccc; /* Borde opcional */  
}

#rio:hover{
    transform: scale(1.1);
    background-image: none;
    background-color: #8eaa46;
}

.datos{
    background-color: lightblue; /* Color de fondo */
    border: 2px solid blue; /* Borde opcional */
    padding: 0;          /* Espaciado interno */
    text-align: center;     /* Alinear texto al centro */
}