div{
    border: 1px solid rgb(2, 204, 255);
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
}

/*HEADER*/
header {
    position: fixed; 
    width: 100%;
    height: 10vh; /* Altura del header ajustada a la altura del viewport */
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #ffffff;
}


.logo {
    position: relative;
    width: auto; /* Auto-ajustable */
    height: auto;
    top: 5vh; /* Ajustado en unidades relativas */
    left: 5vw;
    z-index: 200;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagenLogo {
    width: 100vw; /* Relativo al ancho del viewport */
    height: auto;
    object-fit: contain;
    padding: 2rem;
    max-width: 25%;
}

#abrir-menu {
    margin-right: 5rem;
    background-color: transparent;
    cursor: pointer;
    color: #000000;
    border: 0;
    font-size: 2rem;
    z-index: 30;
}

#cerrar-menu {
    color: #c3c3c3;
    z-index: 30;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 30;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 30;
}

.nav-list {
    flex-direction: column;
    align-items: flex-end;
    z-index: 30;
}

.nav-list li a {
    color: #ecececec;
    z-index: 30;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: 5;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 5;
}

/*MAIN*/

/*ODS*/
.ODS {
    justify-items: center; /* Centra horizontalmente los elementos */
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.container-ODS {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem;
    height: auto; /* Asegura una altura suficiente */
    width: auto;
    align-items: center;
}

.container-ODS img {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    min-height: 15rem; /* Ajusta la altura mínima de los elementos */
    width: 100%; /* Asegura que ocupen el ancho del contenedor */ 
    transition: transform 0.5s ease;

}

.ODS-link {
    position: relative;
    display: block;
    text-align: center;
}

.ODS-link img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.hover-text {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.ODS-link:hover img {
    opacity: 0;
}

.ODS-link:hover .hover-text {
    display: grid;
    text-decoration:underline;
    justify-content: center;
}

/* Diferentes colores para cada imagen */
.ods-6:hover .hover-text {
    background-color: rgb(39, 189, 226); /* Azul */
}

.ods-7:hover .hover-text {
    background-color: rgb(252, 195, 18);
}

.ods-13:hover .hover-text {
    background-color: rgb(72, 119, 60);
}

.ods-15:hover .hover-text {
    background-color: rgb(64, 174, 73);
}

/*DESTACADOS*/
.container-destacado {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 90vw;
    margin: 2rem auto;
}

.destacado {
    position: relative;
    overflow: hidden;
    height: 60vh;
}

.destacado img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.text-destacado {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.destacado:hover img {
    transform: scale(1.1);
}

/*Formulario*/
.subscription-form {
    width: 90vw;
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.subscription-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.subscription-form form {
    display: flex;
    flex-direction: column;
}

.subscription-form label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #333;
}

.subscription-form input {
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.subscription-form button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-form button:hover {
    background-color: #218838;
}

.describe {
    text-align: left;
    cursor: pointer;
}

/* Redes sociales */
.social-media {
    text-align: center;
    margin: 2rem 0;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons a {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin: 1rem;
    font-size: 0.875rem;
}

.social-icons i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.locations, .nav-links {
    width: 90vw;
    text-align: center;
}

.locations h2, .nav-links h2 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #f2f2f2;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #444;
    padding-top: 1rem;
}